microdotphat==0.2.1
Flask==1.0.2
py_etherscan_api==0.8.0
web3==5.12.2
pycoingecko==1.4.0
rainbowhat==0.1.0
Click==7.0
colorama==0.3.7
cursor==1.3.4
eth_brownie==1.14.6
Brownie==0.5.1
ens==0.6.1
etherscan==0.3.0
smbus==1.1.post2
