<html>
<head>
<link rel="stylesheet" href='static/style.css' />
</head>
<body>
<h1>
{{ name }} has earned {{ profitdict[name] }} CRV total (out of {{ profitdict["all"] |round(2) }}).
</h1>
<h2>
Investments:
{% for a in invarray["invested"] %}
    <dt> {{invarray["humantime"][loop.index-1] }} {{ invarray["invested"][loop.index-1] }}</dt>
{% endfor %}
<br>
<dl>
{% for invested,humantime,days,claim, mypercent in epochsdict %}
{% if mypercent > 0 %}
    <dt>Epoch at ${{ invested|e }} invested ended at {{ humantime|e }}</dt>
       <dd>In {{ days|e }} days at a rate of {{ (claim/days/invested*1000) | round(4) }} per thousand we generated {{ claim |e }} * my percentage {{ mypercent }} = {{ (mypercent * claim) |round(2)}} CRV</dd>
{% endif %}
{% endfor %}

</dl>
</h2>
</body>
</html>
