<html>
<head>
<link rel="stylesheet" href='static/style.css' />
</head>
<body>
<h1>
{{ name }} has earned <span style="color:DodgerBlue;">{{ profitdict[name] }}</span> CRV total (out of {{ profitdict["all"] |round(0) }}).
</h1>
<h2>
Investments:
{% for a in invarray["invested"] %}
    <dt> {{invarray["humantime"][loop.index-1] }} <span style="color:MediumSeaGreen;">{{ invarray["invested"][loop.index-1] }}</span></dt>
{% endfor %}
<br>
<dl>
{% for invested,humantime,days,claim, mypercent in epochsdict %}
{% if mypercent > 0 %}
    <dt>Epoch at ${{ invested|e }} invested ended at {{ humantime|e }}</dt>
       <dd>In {{ days|e }} days at a rate of <span style="color:DodgerBlue;">{{ (claim/days/invested*1000) | round(4) }}</span> per thousand per day (<span style="color:DodgerBlue;">{{ (claim/days/invested*365*100) | round(2) }}</span> % APR) we generated {{ claim |e }} * my percentage {{ mypercent }} = <span style="color:DodgerBlue;">{{ (mypercent * claim) |round(2)}}</span> CRV</dd>
{% endif %}
{% endfor %}

</dl>
</h2>
</body>
</html>
