<html>
<head>
<link rel="stylesheet" href='static/style.css' />
</head>
<body>
<h1>Stable Coin Index Fund Prospectus</h1>
<p>
<h2>Minimum investment is 1k for simplicity sake.
<h2>No regular fees, manager takes 10% of profits at time of cash out.
<h2>There exist today a variety of digital currencies each pegged to the US Dollar.<br>
  There is a large appetite for exchanging between these currencies every hour of every day.<br>
  This fund sits in the middle with some of each currency in several different "liquidity pools" and makes income by charging a small fee for each exchange.<br>
  By acting as an automated market maker for people wishing to exchange one stable coin for another a relatively safe income stream is formed.<br>
<br>
<br>
Income is earned in CRV token currency which fluctuates in value between $.50 and $1.00 - the fund seeks to sell its earned CRV when it is at a high, potentially further increasing USD profits. <br>
<br>
Risk consideration - if CRV falls precipitously due to a black swan event the profit earned would lose considerable value. <br>
<br>
The plus side is that the initial investment funds are not subject to these fluctuations in CRV price at all and safely retain their value.<br>
<br>
Investors get access to a website which shows their realtime profits and can cash out at any time.<br> Cash out is in form of a personal check sent within 10 business days.
<h2><a href="/">Return home</a><br><br></h2>
</body>
</html>
